/* general areas */
nav{
    background-color: #2b1f31;
    /* background-color: #ffc300; */
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

body{
    background-color: #413d65;
    /* background-color: #6b0848; */
    color: #fff;
    margin: 0;
}

button{
    background-color: #a40a3c;
    /* background-color: #155e63; */
    color: #fff;
}

footer{
    background-color: #2b1f31;
    /* background-color: #ffc300; */
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* specific classes */
.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.knucks-area{
    min-height: 15rem;
    min-width: 23rem;
    background-color: #ffc300;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.knucks{
    color: black;
    font-size: 28px;
    font-family: fantasy;
    display: flex;
    justify-content: center;
}

.header-items{
    margin: 1rem;
}

.footer-items{
    margin: 1rem;
}