{{!-- header and nav here --}}
<nav>
    <h3 class="header-items">These Knucks</h3>
    <a class="header-items">My Saved Knucks</a>
    <a class="header-items">Top Rated Knucks</a>
</nav>

<body>
    {{outlet}}
</body>

{{!-- footer --}}
<footer>
    <p class="footer-items">Made by Dr. CamCamBoBam</p>
    <button class="footer-items">Instagram</button>
    <button class="footer-items">Email</button>

</footer>