{{!-- header and nav here --}}
<nav>
    <h3>These Knucks</h3>
    <a>My Saved Knucks</a>
    <a>Top Rated</a>
</nav>

<body>
    {{outlet}}
</body>

{{!-- footer --}}
<footer>
    <p>Made by Dr. CamCamBoBam</p>
    <button>Instagram</button>
    <button>Email</button>

</footer>