<div class="main-page">
    <h1>These Knucks!</h1>

    <p>Click the button below to generate you new knucks!</p>

    <div>
        <button {{action 'generateKnucks'}}>My Knucks</button>
    </div>

    <div class="knucks-area">
            <p class="knucks">{{knucks}}</p>
    </div>

</div>

